/*
* @Author: wavy
* @Date:   2016-04-20 20:42:30
* @Last Modified by:   David Coello
* @Last Modified time: 2016-04-23 10:24:41
*/

body
{
	background-color: #efeee7;
	font: "Georgia",Times New Roman,Times,serif;
	color: #333333;
	margin: 0;
	padding: 0;
}

header
{
	background-color: #d21034,

}

h1
{
	background-color: #33333;
	font: white;
	font-size: 28px;
	text-align: center;
	margin: 
	padding: ;
}

h2
{
	font-size: 24px;
	
}
.class
{

}

#id
{
	
}